<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= form_for @list, html: { class: "form-inline" } do |f| %>
        <div class="form-group my-5">
          <%= f.label :file_location, "上傳檔案", class: "col-form-label" %>
          <%= f.file_field :location, class: "form-control-file" %>
        </div>
        <div class="form-group my-5">
          <%= f.submit "上傳", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>


    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>檔案名稱</th>
          <th>上傳時間</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <% if @list.present? %>
          <% @lists.each_with_index do |list, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= list.location.path.split("/").last %></td>
              <td><%= list.created_at.strftime("%F %H:%M") %></td>
              <td>
                <% if list.can_export? %>
                  <%= link_to "匯出", list_path(list, format: "xlsx"), class: "btn btn-outline-primary" %>
                <% else %>
                  <%= link_to "匯入", list_generate_km_path(list), method: :post, class: "btn btn-primary", id: "import" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="MsgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">正在計算預估里程</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        請稍候
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#import").on("click",function(e){
      $("#MsgModal").modal('show');
    });
  });
</script>